<header class="header">
  <div class="container">
    <div class="row flexbox-center">
      <div class="col-lg-2 col-md-3 col-6">
        <div class="logo">
          <!-- <a href="#home"><img src="assets/img/logo.png" alt="logo" /></a> -->
          <a href="#home">Parchis</a>
        </div>
      </div>
      <div class="col-lg-10 col-md-9 col-6">
        <div class="responsive-menu"></div>
        <div class="mainmenu">
          <ul id="primary-menu">
            <li><a class="nav-link" href="#home">Home</a></li>
            <li><a class="nav-link " href="#about">About</a></li>
            <li><a class="nav-link" href="#services">Services</a></li>
            <li><a class="nav-link active" href="/blogs">Blog</a></li>
            <li><a class="nav-link" href="#team">Team</a></li>
            <li><a class="nav-link" href="javascript:void(0)" (click)='toggle()'>Contact Us</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</header><!-- header section end -->
<!-- breadcrumb area start -->
<ng-container *ngIf="blog!=null">

  <section class="hero-area breadcrumb-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-area-content">
            <h1 [attr.contenteditable]="editable" #blog_name>{{this.blog.name}}</h1>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
              <li *ngIf="!editable && LS.data.islogged"><a href="/edit/{{this.blog.name}}">Edit</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section><!-- breadcrumb area end -->
</ng-container>
<section class="blog-detail container" id="blog">
</section>

<!-- blog section end -->
<!-- footer section start -->
<footer class="footer" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="subscribe-form">
          <form action="#">
            <input type="text" placeholder="Your email address here">
            <button type="submit">Subcribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-area">
          <ul>
            <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
            <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
            <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
            <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
          </ul>
          <p>&copy;
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by <a>CypherOps</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer><!-- footer section end -->