 <ng-container *ngIf="!this.LS.data.islogged">
  <section>
    <div class="container col-md-5">
     <h2 class="text-center">Admin Login</h2>

<form action="" onsubmit="window.submit">
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required #username>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required #pwd>
        
    <button type="button" (click)='submit(username.value, pwd.value)'>Login</button>
    <!--label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label-->
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>

    </div>
</section> 


 </ng-container>
 <ng-container *ngIf="this.LS.data.islogged">
  <app-dashboard></app-dashboard>
 </ng-container>