	<!-- header section start -->
  <header class="header">
    <div class="container">
      <div class="row flexbox-center">
        <div class="col-lg-2 col-md-3 col-6">
          <div class="logo">
            <a href="#home"><img src="assets/img/logo.png" width="50px;" alt="logo" /></a>
            <!-- <a href="#home">Parchis</a> -->
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-6">
          <div class="responsive-menu"></div>
            <div class="mainmenu">
                          <ul id="primary-menu">
                              <li><a class="nav-link active" href="#home">Home</a></li>
                              <li><a class="nav-link " href="#about">About</a></li>
                              <li><a class="nav-link" href="#services">Services</a></li>
                              <li><a class="nav-link" href="/blogs">Blog</a></li>
                              <li><a class="nav-link" href="/contact">Contact Us</a></li>

                          </ul>
            </div>
        </div>
      </div>
    </div>
  </header><!-- header section end -->
  <!-- hero area start -->
  <ng-container *ngIf="!this.is_contact">

    <section class="hero-area" id="home">
			<div class="hero-area-slider">
        <div class="hero-area-single-slide" style="background-image:url(assets/img/twitter-292988_1920.jpg);padding:90px;" >
					<div class="container">
						<div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center hero-area-content"><br><br><br>
                    <h1 style="padding-bottom:4px;">Up your Social Media Game with Parchis</h1><br><br><br><br>
                    <a href="/contact" class="appao-btn">Contact US</a>
                    <a href="#services" class="appao-btn">Services</a>
                </div>
                <div class="col-md-2"></div>	
							<!-- <div class="col-lg-7">
								<div class="hero-area-content">
                  <h1>Up your Social Media Game with Parchis</h1>
                  <a href="/contact" class="appao-btn">Contact US</a>
									<a href="#services" class="appao-btn">Services</a>
									<p style="opacity:0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
									
								</div>
							</div>
							<div class="col-lg-5">
								<div class="hand-mockup text-lg-left text-center">
									<img src="assets/img/hand-mockup.png"  style="opacity: 0;"alt="Hand Mockup" />
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="hero-area-single-slide" style="background-image:url(assets/img/arrows-2167840_1920.jpg);padding:90px;" >
					<div class="container">
						<div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8 text-center hero-area-content">
                	<h1 style="padding-bottom:10px;">We tell story of your brand with greater clarity and more compelling, artful engagement. </h1><br>
                 <br>
                 <a href="/contact" class="appao-btn">Contact US</a>
									<a href="#services" class="appao-btn">Services</a>
              </div>
              <div class="col-md-2"></div>	
						</div>
					</div>
				</div>
				<div class="hero-area-single-slide" style="background-image:url(assets/img/ideation-3267505_1920.jpg);padding:90px;" >
					<div class="container">
						<div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 text-center hero-area-content">
                    <h1 style="padding-bottom:1px;">Need Assistance regarding smart social media strategy, engaging brand-based experiences and buzz-worthy content? </h1>
                    <a href="/contact" class="appao-btn">Contact US</a>
                    <a href="#services" class="appao-btn">Services</a>
                </div>
                <div class="col-md-2"></div>	
							<!-- <div class="col-lg-7">
								<div class="hero-area-content">
									<h1>Need Assistance regarding smart social media strategy, engaging brand-based experiences and buzz-worthy content? </h1>
									 <a href="/contact" class="appao-btn">Contact US</a>
									<a href="#services" class="appao-btn">Services</a><br>
                  <p style="opacity:0;">nisi ut aliquip nisi ut aliquip ex ea commodo<br></p>

								</div>
							</div>
							<div class="col-lg-5">
								<div class="hand-mockup text-lg-left text-center"><br>
									<img src="assets/img/hand-mockup.png"  style="opacity: 0;"alt="Hand Mockup" />
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</section>
  <!-- showcase section start -->
  <section class="showcase-area ptb-90" id="about" style="text-align:justify;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>About US<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Innovation partners for the digital Age </p>
          </div>
        </div>
      </div>
      <div class="row flexbox-center">
        <div class="col-lg-7">
          <div class="single-showcase-box">
<p>Digitisation of business is changing the way brands attract leads, engage prospects, create conversions and compete with each other. A good Content strategy, backed by efficient targeting and real-time data can help organisations in everything from lead generation to customer retention. <br>

  Using Creativity and metrics, our team at Parchis helps businesses like you to set up a solid digital strategy, customised for your brand and geared to propel the growth of your business through innovation and creative strategy</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-showcase-box">
            <img src="assets/img/digital-campaign.png" alt="showcase">
          </div>
        </div>
      </div>
    </div>
  </section><!-- showcase section end -->
  <!-- about section start -->
  <section class="about-area ptb-90" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>What We Do<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Stratergy, Design and a bit of Magic</p>
          </div>
        </div>
      </div>
      <div class="row" style="cursor:pointer;">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal">
            <div class="single-about-box">
            <i class="icofont icofont-like"></i>
            <h4>SOCIAL MEDIA MARKETING</h4>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal2">
            <div class="single-about-box">
            <i class="icofont icofont-play-alt-3"></i>
            <h4>BRAND MANAGEMENT</h4><br>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal1">
            <div class="single-about-box">
            <i class="icofont icofont-web"></i>
            <h4>WEBSITE BUILDING & MANAGEMENT</h4>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal3">
            <div class="single-about-box">
            <i class="icofont icofont-video"></i>
            <h4>PROMOTIONAL VIDEOS</h4><br>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal4">
            <div class="single-about-box">
            <i class="icofont icofont-dashboard-web"></i>
            <h4>CONTENT STRATEGY</h4><br>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </section><!-- about section end -->
  <!-- feature section start -->
  <!-- video section start -->
  <section class="video-area ptb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="video-popup">
            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont icofont-ui-play"></i></a>
            <h1>Watch Our Video</h1>
          </div>
        </div>
      </div>
    </div>
  </section><!-- video section end -->
  <section class="blog-area ptb-90" id="blog">
    <div   class="container">
      <div   class="row">
          <!---->
          <div   class="col-lg-4 col-md-6">
              <div   class="single-post" >
                  <div   class="post-thumbnail">
                      <a   href="/blog/8 Biggest Graphic Design Trends that will Dominate 2019"><img   alt="blog" style="width: 100%; height: 15vw; object-fit: cover;" src="https://res.cloudinary.com/dxo3sw4jg/image/upload/v1551981284/112.jpg"></a>
                  </div>
                  <div   class="post-details">
                      <div   class="post-author"><a   href="blog-detail.html"><i   class="icofont icofont-user"></i>Pulkit</a><a   href="blog-detail.html"><i   class="icofont icofont-calendar"></i>10 Jan 2019</a></div>
                      <h4   class="post-title"><a   href="#">8 Biggest Graphic Design Trends that will Dominate 2019</a></h4>
                      <p  >Graphic Design trends are a vital part of the web design and development industry. As most businesses utilize a website to... <br><br></p>
                  </div>
              </div>
          </div>
          <div   class="col-lg-4 col-md-6">
              <div   class="single-post">
                  <div   class="post-thumbnail">
                      <a   href="/blog/How to use UX Research Methods to Validate Your Content Strategy"><img   alt="blog" style="width: 100%; height: 15vw; object-fit: cover;" src="https://res.cloudinary.com/dxo3sw4jg/image/upload/v1551981146/111.jpg"></a>
                  </div>
                  <div   class="post-details">
                      <div   class="post-author"><a   href="blog-detail.html"><i   class="icofont icofont-user"></i>Pulkit</a><a   href="blog-detail.html"><i   class="icofont icofont-calendar"></i>10 Dec 2019</a></div>
                      <h4   class="post-title"><a   href="#">How to use UX Research Methods to Validate Your Content Strategy</a></h4>
                      <p  >Simply having a content strategy does not in any way guarantee success. Even if there has been a team of workers who have...</p>
                  </div>
              </div>
          </div>
          <div   class="col-lg-4 col-md-6">
              <div   class="single-post">
                  <div   class="post-thumbnail">
                      <a   href="/blog/Why Customer Support is Important on Social Media"><img   alt="blog" style="width: 100%; height: 15vw; object-fit: cover;" src="https://res.cloudinary.com/dxo3sw4jg/image/upload/v1551982094/113.png"></a>
                  </div>
                  <div   class="post-details">
                      <div   class="post-author"><a   href="blog-detail.html"><i   class="icofont icofont-user"></i>Pulkit</a><a   href="blog-detail.html"><i   class="icofont icofont-calendar"></i>07 Mar 2019</a></div>
                      <h4   class="post-title"><a   href="#">Why Customer Support is Important on Social Media</a></h4>
                      <p  >DPeople are tired of being ignored by businesses and when it comes to social media platforms, they are ready to let everyone...</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section><!-- blog section end -->


</ng-container>
 <!-- footer section start -->
 <footer class="footer" id="contact">
  <div class="container">
    <div class="row">
                <div class="col-lg-12">
        <br><br>
                </div>
    </div>
    <div class="row">
                <div class="col-lg-12">
        <div class="copyright-area">
          <ul>
           <li><a href="https://www.facebook.com/ParchisMedia"><i class="icofont icofont-social-facebook"></i></a></li>
            <li><a href="https://twitter.com/ParchisMedia"><i class="icofont icofont-social-twitter"></i></a></li>
            <li><a href="https://www.Instagram.com/ParchisMedia"><i class="icofont icofont-brand-linkedin"></i></a></li>
            </ul>
          <p>&copy;  
Copyright &copy;<script>document.write(new Date().getFullYear());</script> 2019 All rights reserved | This Website is made with <i class="icofont icofont-heart" aria-hidden="true"></i> by <a>CypherOps</a>
</p>
        </div>
                </div>
    </div>
  </div>
</footer><!-- footer section end -->
<div class="modal fade des" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div>
          
              <div class="single-post" style="background:#fff">
              <div class="post-thumbnail">
                <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
              </div>
              <div class="post-details">
                <h4 class="post-title"><a href="/blogs">SOCIAL MEDIA MARKETING</a></h4>
                <p>A full-service digital media marketing agency, we build engagement and brand loyalty, targeting the right audience meanwhile developing them into brand ambassadors. We select the right social media platforms, help you identify realistic goals, and always over deliver.</p>
              </div>
              <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
  
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade des" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" >
        <div>
            
                <div class="single-post" style="background:#fff">
                <div class="post-thumbnail">
                  <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
                </div>
                <div class="post-details">
                  <h4 class="post-title"><a href="/blogs"> WEBSITE BUILDING & MANAGEMENT</a></h4>
                <p>Our in-house web developers and designers identify your requirements, visualise your brand to get you beautiful website for your business with goal of turning visitors into customers. You can be best at what you do, but in order to get the business you deserve, your website needs to make you look like best at what you do.</p>
                </div>
                <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
    
              </div>
        </div>
      </div>
    </div>
  <div class="modal fade des" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" >
        
            
                <div class="single-post" style="background:#fff">
                <div class="post-thumbnail">
                  <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%" alt="blog"></a>
                </div>
                <div class="post-details">
                  <h4 class="post-title"><a href="/blogs">BRAND MANAGEMENT</a></h4>
                  <p>Story of your brand is what turns your audience into loyal customers. The way you manage your brand essentially becomes your identity. We tell your brand’s story the way it deserves to be told. </p>
                </div>
                <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
    
             
        </div>
      </div>
    </div>
    <div class="modal fade des" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
          <div>
              
                  <div class="single-post" style="background:#fff">
                  <div class="post-thumbnail">
                    <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
                  </div>
                  <div class="post-details">
                    <h4 class="post-title"><a href="/blogs">PROMOTIONAL VIDEOS</a></h4>
                    <p>Our team of professional filmmakers, brings creativity and best content strategy on the table. Through Promotional films for your organisation we aim to get you the reach that gives a boost to your brand.</p>
                  </div>
                  <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
      
                </div>
          </div>
        </div>
      </div>
      <div class="modal fade des" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" >
            <div>
                
                    <div class="single-post" style="background:#fff">
                    <div class="post-thumbnail">
                      <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
                    </div>
                    <div class="post-details">
                      <h4 class="post-title"><a href="/blogs">CONTENT STRATEGY</a></h4>
                      <p>
                          Content that converts. Content that engages. Content that builds loyalty. Parchis utilizes a combination of editorial excellence, sophisticated distribution, social advertising and retargeting to create year-round audience engagement and lead generation.
                          </p>
                    </div>
                    <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
        
                  </div>
            </div>
          </div>
        </div>