	<!-- header section start -->
  <header class="header">
    <div class="container">
      <div class="row flexbox-center">
        <div class="col-lg-2 col-md-3 col-6">
          <div class="logo">
            <!-- <a href="#home"><img src="assets/img/logo.png" alt="logo" /></a> -->
            <a href="#home">Parchis</a>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-6">
          <div class="responsive-menu"></div>
            <div class="mainmenu">
                          <ul id="primary-menu">
                              <li><a class="nav-link active" href="#home">Home</a></li>
                              <li><a class="nav-link " href="#about">About</a></li>
                              <li><a class="nav-link" href="#services">Services</a></li>
                              <li><a class="nav-link" href="/blogs">Blog</a></li>
                              <li><a class="nav-link" href="#team">Team</a></li>
                              <li><a class="nav-link" href="/contact">Contact Us</a></li>

                          </ul>
            </div>
        </div>
      </div>
    </div>
  </header><!-- header section end -->
  <!-- hero area start -->
  <ng-container *ngIf="!this.is_contact">

  <section class="hero-area" id="home">
    <div class="hero-area-slider">
      <div class="hero-area-single-slide">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="hero-area-content">
                <h1>It’s all about Promoting your Business</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <!-- <a href="#" class="appao-btn"></a>
                <a href="#" class="appao-btn">App Store</a> -->
              </div>
            </div>
            <div class="col-lg-5">
              <div class="hand-mockup text-lg-left text-center">
                <img src="assets/img/hand-mockup.png" alt="Hand Mockup" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-area-single-slide">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="hero-area-content">
                <h1>It’s all about Promoting your Business</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <a href="#" class="appao-btn">Google Play</a>
                <a href="#" class="appao-btn">App Store</a>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="hand-mockup text-lg-left text-center">
                <img src="assets/img/hand-mockup.png" alt="Hand Mockup" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-area-single-slide">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="hero-area-content">
                <h1>It’s all about Promoting your Business</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                <a href="#" class="appao-btn">Google Play</a>
                <a href="#" class="appao-btn">App Store</a>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="hand-mockup text-lg-left text-center">
                <img src="assets/img/hand-mockup.png" alt="Hand Mockup" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- hero area end -->
  <!-- showcase section start -->
  <section class="showcase-area ptb-90" id="about" style="background:#f1f1f1;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>About US<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
          </div>
        </div>
      </div>
      <div class="row flexbox-center">
        <div class="col-lg-7">
          <div class="single-showcase-box">
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi ut aliquip </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi ut aliquip </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="single-showcase-box">
            <img src="assets/img/digital-campaign.png" alt="showcase">
          </div>
        </div>
      </div>
    </div>
  </section><!-- showcase section end -->
  <!-- about section start -->
  <section class="about-area ptb-90" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>What We Do<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Stratergy, Design and a bit of Magic</p>
          </div>
        </div>
      </div>
      <div class="row" style="cursor:pointer;">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal">
            <div class="single-about-box">
            <i class="icofont icofont-like"></i>
            <h4>SOCIAL MEDIA MARKETING</h4>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal2">
            <div class="single-about-box">
            <i class="icofont icofont-play-alt-3"></i>
            <h4>BRAND MANAGEMENT</h4><br>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal1">
            <div class="single-about-box">
            <i class="icofont icofont-web"></i>
            <h4>WEBSITE BUILDING & MANAGEMENT</h4>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal3">
            <div class="single-about-box">
            <i class="icofont icofont-video"></i>
            <h4>PROMOTIONAL VIDEOS</h4><br>
          </div>
        </div>
        <div class="col-lg-2" data-toggle="modal" data-target="#exampleModal4">
            <div class="single-about-box">
            <i class="icofont icofont-dashboard-web"></i>
            <h4>CONTENT STRATEGY</h4><br>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </section><!-- about section end -->
  <!-- feature section start -->
  <!-- video section start -->
  <section class="video-area ptb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="video-popup">
            <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube"><i class="icofont icofont-ui-play"></i></a>
            <h1>Watch Our Video</h1>
          </div>
        </div>
      </div>
    </div>
  </section><!-- video section end -->
  <!-- screenshots section start -->
  <!-- <section class="screenshots-area ptb-90" id="screenshot">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>Screenshot<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="screenshot-wrap">
            <div class="single-screenshot">
              <img src="assets/img/screenshot/screenshot1.jpg" alt="screenshot" />
            </div>
            <div class="single-screenshot">
              <img src="assets/img/screenshot/screenshot2.jpg" alt="screenshot" />
            </div>
            <div class="single-screenshot">
              <img src="assets/img/screenshot/screenshot3.jpg" alt="screenshot" />
            </div>
            <div class="single-screenshot">
              <img src="assets/img/screenshot/screenshot4.jpg" alt="screenshot" />
            </div>
            <div class="single-screenshot">
              <img src="assets/img/screenshot/screenshot5.jpg" alt="screenshot" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
  <!-- pricing section start -->
  <!-- testimonial section start -->
  <!-- blog section start -->
  <section class="blog-area ptb-90" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>Latest from Our Blog<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="single-post">
            <div class="post-thumbnail">
              <a href="/blogs"><img src="assets/img/blog/blog1.jpg" alt="blog"></a>
            </div>
            <div class="post-details">
              <div class="post-author">
                <a href="/blogs"><i class="icofont icofont-user"></i>John</a>
                <a href="/blogs"><i class="icofont icofont-speech-comments"></i>Comments</a>
                <a href="/blogs"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
              </div>
              <h4 class="post-title"><a href="/blogs">Lorem ipsum dolor sit</a></h4>
              <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="single-post">
            <div class="post-thumbnail">
              <a href="/blogs"><img src="assets/img/blog/blog2.jpg" alt="blog"></a>
            </div>
            <div class="post-details">
              <div class="post-author">
                <a href="/blogs"><i class="icofont icofont-user"></i>John</a>
                <a href="/blogs"><i class="icofont icofont-speech-comments"></i>Comments</a>
                <a href="/blogs"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
              </div>
              <h4 class="post-title"><a href="/blogs">Lorem ipsum dolor sit</a></h4>
              <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-md-none d-lg-block">
            <div class="single-post">
            <div class="post-thumbnail">
              <a href="/blogs"><img src="assets/img/blog/blog3.jpg" alt="blog"></a>
            </div>
            <div class="post-details">
              <div class="post-author">
                <a href="/blogs"><i class="icofont icofont-user"></i>John</a>
                <a href="/blogs"><i class="icofont icofont-speech-comments"></i>Comments</a>
                <a href="/blogs"><i class="icofont icofont-calendar"></i>21 Feb 2018</a>
              </div>
              <h4 class="post-title"><a href="/blogs">Lorem ipsum dolor sit</a></h4>
              <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- blog section end -->
  <!-- counter section start -->
  <section class="counter-area ptb-90">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-heart-alt"></i>
            <h1><span class="counter">9798</span></h1>
            <p>Happy Client</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-protect"></i>
            <h1><span class="counter">9798</span></h1>
            <p>Completed Project</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-download-alt"></i>
            <h1><span class="counter">979</span>K</h1>
            <p>Apps Download</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-counter-box">
            <i class="icofont icofont-trophy"></i>
            <h1><span class="counter">250</span></h1>
            <p>Our Award</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- counter section end -->
  <!-- team section start -->
  <section class="team-area ptb-90" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>Meet Our Team<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/img/team/team1.jpg" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                    <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                    <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                    <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a href="#"><h4>John Deo</h4></a>
              <p>Web Developer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/img/team/team2.jpg" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                    <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                    <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                    <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a href="#"><h4>Sharon Garcia</h4></a>
              <p>UX Designer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/img/team/team3.jpg" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                    <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                    <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                    <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a href="#"><h4>Elijah Henderson</h4></a>
              <p>UX Designer</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="single-team-member">
            <div class="team-member-img">
              <img src="assets/img/team/team4.jpg" alt="team">
              <div class="team-member-icon">
                <div class="display-table">
                  <div class="display-tablecell">
                    <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                    <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                    <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                    <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team-member-info">
              <a href="#"><h4>Sharon Garcia</h4></a>
              <p>UX Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- team section end -->
  <section class="testimonial-area ptb-90">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="sec-title">
            <h2>Testimonials<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="testimonial-wrap">
            <div class="single-testimonial-box">
              <div class="author-img">
                <img src="assets/img/author/author1.jpg" alt="author" />
              </div>
              <h5>Mary Balogh</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
              <div class="author-rating">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
            </div>
            <div class="single-testimonial-box">
              <div class="author-img">
                <img src="assets/img/author/author2.jpg" alt="author" />
              </div>
              <h5>Mary Balogh</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
              <div class="author-rating">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
            </div>
            <div class="single-testimonial-box">
              <div class="author-img">
                <img src="assets/img/author/author2.jpg" alt="author" />
              </div>
              <h5>Mary Balogh</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
              <div class="author-rating">
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
                <i class="icofont icofont-star"></i>
              </div>
            </div>
          </div>
          <div class="testimonial-thumb">
            <div class="thumb-prev">
              <div class="author-img">
                <img src="assets/img/author/author2.jpg" alt="author" />
              </div>
            </div>
            <div class="thumb-next">
              <div class="author-img">
                <img src="assets/img/author/author2.jpg" alt="author" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- testimonial section end -->
 

</ng-container>
 <!-- footer section start -->
 <footer class="footer" id="contact">
  <div class="container">
    <div class="row">
                <div class="col-lg-12">
        <div class="subscribe-form">
          <form action="#">
            <input type="text" placeholder="Your email address here">
            <button type="submit">Subcribe</button>
          </form>
        </div>
                </div>
    </div>
    <div class="row">
                <div class="col-lg-12">
        <div class="copyright-area">
          <ul>
            <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
            <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
            <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
            <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
            <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
          </ul>
          <p>&copy;  
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a>CypherOps</a>
</p>
        </div>
                </div>
    </div>
  </div>
</footer><!-- footer section end -->
<div class="modal fade des" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" >
      <div>
          
              <div class="single-post" style="background:#fff">
              <div class="post-thumbnail">
                <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
              </div>
              <div class="post-details">
                <h4 class="post-title"><a href="/blogs">SOCIAL MEDIA MARKETING</a></h4>
                <p>A full-service digital media marketing agency, we build engagement and brand loyalty, targeting the right audience meanwhile developing them into brand ambassadors. We select the right social media platforms, help you identify realistic goals, and always over deliver.</p>
              </div>
              <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
  
            </div>
      </div>
    </div>
  </div>
  <div class="modal fade des" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" >
        <div>
            
                <div class="single-post" style="background:#fff">
                <div class="post-thumbnail">
                  <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
                </div>
                <div class="post-details">
                  <h4 class="post-title"><a href="/blogs"> WEBSITE BUILDING & MANAGEMENT</a></h4>
                <p>Our in-house web developers and designers identify your requirements, visualise your brand to get you beautiful website for your business with goal of turning visitors into customers. You can be best at what you do, but in order to get the business you deserve, your website needs to make you look like best at what you do.</p>
                </div>
                <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
    
              </div>
        </div>
      </div>
    </div>
  <div class="modal fade des" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" >
        
            
                <div class="single-post" style="background:#fff">
                <div class="post-thumbnail">
                  <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%" alt="blog"></a>
                </div>
                <div class="post-details">
                  <h4 class="post-title"><a href="/blogs">BRAND MANAGEMENT</a></h4>
                  <p>Story of your brand is what turns your audience into loyal customers. The way you manage your brand essentially becomes your identity. We tell your brand’s story the way it deserves to be told. </p>
                </div>
                <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
    
             
        </div>
      </div>
    </div>
    <div class="modal fade des" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
          <div>
              
                  <div class="single-post" style="background:#fff">
                  <div class="post-thumbnail">
                    <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
                  </div>
                  <div class="post-details">
                    <h4 class="post-title"><a href="/blogs">PROMOTIONAL VIDEOS</a></h4>
                    <p>Our team of professional filmmakers, brings creativity and best content strategy on the table. Through Promotional films for your organisation we aim to get you the reach that gives a boost to your brand.</p>
                  </div>
                  <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
      
                </div>
          </div>
        </div>
      </div>
      <div class="modal fade des" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document" >
            <div>
                
                    <div class="single-post" style="background:#fff">
                    <div class="post-thumbnail">
                      <a href="/blogs"><img src="assets/img/blog/blog1.jpg" width="100%"  alt="blog"></a>
                    </div>
                    <div class="post-details">
                      <h4 class="post-title"><a href="/blogs">CONTENT STRATEGY</a></h4>
                      <p>
                          Content that converts. Content that engages. Content that builds loyalty. Parchis utilizes a combination of editorial excellence, sophisticated distribution, social advertising and retargeting to create year-round audience engagement and lead generation.
                          </p>
                    </div>
                    <button class="btn btn-danger" style="margin-left:40%;" data-dismiss="modal">Close</button>
        
                  </div>
            </div>
          </div>
        </div>