<section class="hero-area breadcrumb-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-area-content">
            <h1>Contact US</h1>
                          <ul>
                              <li><a href="index.html">Home</a></li>
                              <li><a href="/blogs">Contact Us</a></li>
                          </ul>
          </div>
        </div>
      </div>
    </div>
  </section><!-- breadcrumb area end --><br><br>
  <!-- blog section start -->
  <section class="blog-area blog-page" id="blog">
    <div class="container">
      <div class="row">
                  <div class="col-lg-6">
          <div class="contact-form">
            <h4>Get in Touch</h4>
            <p class="form-message"></p>
            <form id="contact-form" action="#" method="POST">
                      <input type="text" name="name" placeholder="Enter Your Name">
                      <input type="email" name="email" placeholder="Enter Your Email">
                      <input type="text" name="subject" placeholder="Your Subject">
                      <textarea placeholder="Messege" name="message"></textarea>
                      <button type="submit" name="submit">Send Message</button>
                  </form>
          </div>
                  </div>
                  <div class="col-lg-6">
          <div class="contact-address">
            <h4>Address</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
            <ul>
              <li>
                <div class="contact-address-icon">
                  <i class="icofont icofont-headphone-alt"></i>
                </div>
                <div class="contact-address-info">
                  <a href="callto:#">+8801712435941</a>
                  <a href="callto:#">+881934180093</a>
                </div>
              </li>
              <li>
                <div class="contact-address-icon">
                  <i class="icofont icofont-envelope"></i>
                </div>
                <div class="contact-address-info">
                  <a href="mailto:#">Jsoftbd87gmail.com</a>
                </div>
              </li>
              <li>
                <div class="contact-address-icon">
                  <i class="icofont icofont-web"></i>
                </div>
                <div class="contact-address-info">
                  <a href="www.jsoftbd.com">www.jsoftbd.com</a>
                </div>
              </li>
            </ul>
          </div>
                  </div>
      </div>
    </div>
  </section><!-- blog section end -->