.des{
    background:#fff;width:18rem;position:absolute;top:60% !important;left:50%;right:50%;transform:translate(-50%, -50%);
}
.scroller{

    
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #999;
    width: 100%;
    white-space: nowrap;
}
.sc-cont{
    height: 100px;
    display: inline-flex;
}
.scroller-item{
    height: 100px;
    width:100px;
    float: left;
    background-color: #45ff9e;
    margin-left:5px;    
}
.blog-body{
    min-height: 150px;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    background-color: #999;
}
@media screen and (max-width: 400px) {
    .des{
     width: 16rem;
     margin-top: 80%;
    }
    .modal{
        top:20% !important;
    }
  }
